/* animate home */


.home_content {
  /* opacity: 0; */
  /* transform: translateY(-10%); */
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  z-index: 2;
}


/* ti animate */


.t {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}