@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* fonts */

@font-face {
  font-family: "Roboto";
  src: url("path/to/roboto-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
  
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; 
}



html,body {
  overflow-x: hidden;
}

:root {
  --main-color: #033a80;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --orther-color: rgb(213, 20, 20);
  --hover: hsl(260, 100%, 51%);
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.97rem;
  --top-bg: #f8f8f8;
  --white: #fff;
  --sub-font: 1.2rem;
  --sub-sub-font: 0.9rem;
  --logo-font: 1rem;
  --primary-color: #ffd615;
  --primary-color:rgb(226, 18, 18);
  --primary-color:rgb(179, 0, 0);
  --black: rgb(0, 0, 0);
}


h1, h2, h3, h4, h5 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
 }


header,
footer {
  margin: 0 auto;
  padding: 0 10px
}



  body{
    /* font-family: 'Great Vibes'; */
    font-size: 1rem;
    background-color: #f8f8f8;
  }
header,
.about,
.teams,
.contact,
.sermons,
.events,
.causes,
.blogs,
.pastors,
.gallery,
.footer_wrapper,
.store,
.services {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-section {
  min-width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
}

header {
  /* height: 60px; */
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  place-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  height: 60px;
  padding: 0 5px;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr, 1fr);
  grid-template-areas: "companyName nav-links";
  background-color: transparent;
  width: 100%;
}


header nav h1 {
  grid-area: companyName;
  line-height: 60px;
  color: var(--white);
  color: rgb(226, 18, 18);
  font-size: 1.2rem;
  font-weight: 800;
  place-items: center;
}

header nav h1 .fa-solid {
  display: inline-block;
  color: var(--primary-color);
  color: rgb(226, 18, 18);
  align-self: center;
  font-size: 1.7rem;
  align-self: center;
  position: relative;
  top:2px;
}

header nav .nav-links {
  grid-area: nav-links;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  z-index: 20;
}

/* check this */

header nav .nav-links li a {
  display: block;
  text-decoration: none;
  padding:10px 15px;
  color: var(--primary-color);
  color: rgb(226, 18, 18);
  text-transform: uppercase;
  font-weight: 800;
  font-size: .9rem;
}


header nav .nav-links li {
  position: relative;
  width: auto;
}

/* header nav .nav-links li::before, */
header nav .nav-links li::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease-out, left 0.3s ease-out;
  
}


header nav .nav-links li::after {
  transform: translateX(0%);
}

header nav .nav-links li:hover::after {
  width: 100%;
  left: 0;
}

header nav .nav-links .tablet-hide {
  display: flex;
}

/* at 900px it must hide */

/* 815 initialvalue */

@media screen and (max-width: 1024px) {
  header nav .nav-links .tablet-hide {  
    display: none;
    background-color: var(--top-bg);
  }
}

header nav .nav-links .tablet-display {
  display: flex;
}
/* initial value 560 */

@media screen and (max-width: 767px) {
  header nav .nav-links .tablet-display {
    display: none;
    background-color: var(--top-bg);
  }
}

header nav .checked {
  grid-area: checked;
  order: 2;
}

header .lines,
header .lines::before,
header .lines::after {
  width: 30px;
  height: 3px;
  background-color: rgb(226, 18, 18);
}

header .lines {
  display: block;
  position: relative;
  top: 6px;
  margin: 0 5px;
  display: none;
}

header .lines::before {
  content: "";
  position: absolute;
  top: 5px;
}

header .lines::after {
  content: "";
  align-self: center;
  position: absolute;
  top: -5px;
}

.input:checked ~ label .lines::before {
  top: 0;
  transform: rotate(-45deg);
}

/* after */

.input:checked ~ label .lines::after {
  top: 0;
  transform: rotate(45deg);
}

/* original */

.input:checked ~ label .lines {
  background: transparent;
}

header{
  position: relative;
}

header nav .nav-links  li a {
  margin: 10px 0;
}

/* responsive for menu lines */
/* initial value 815 */
@media screen and (max-width: 1024px) {

  header .lines {
    display: block;
  }

  .input:checked ~ .tablet-hide {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 auto;
    top: 60px;
    background-color: var(--top-bg);
  }

  header nav .nav-links li {
    margin-left: 10px;
  }

  header nav .nav-links .tablet-display li a {
    margin: 10px 0;
  }

  
  header nav .nav-links .tablet-hide li a {
    margin: 10px 0;
  
  }

  header .lines {
    top: 28.5px;
  }

}

/* initial value  570px*/
@media screen and (max-width: 767px) {
  
  .input:checked ~ .tablet-display {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 305px;
    left: 0px;
    width: 100%;
    background-color: var(--top-bg);
  }


  header nav .nav-links li a {
    color: var(--black);
    margin: 5px 0;
  }

  header nav .nav-links li a:hover {
    border-bottom:none;

  }

  header .lines {
    top: 11px;
  }
}

#hidevams{
  display: inline-block;
}

@media all and (max-width:400px){
  #hidevams{
    display: none;
  }
}

/* styling the animation of the menu lines  */

/* by default input must be display none */

nav input {
  display: none;
}



/* home  */

.home {
  background-image: url("../images/home_image.jpg");
  background-image: url("../images/home_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: fit-content;
  position: relative;
  z-index: -1;
}

.home {
  /* Default styles that apply to all devices */
  width: 100%;
  /* Add other styles as needed */

  /* Tablet and Laptop styles */
  @media (min-height: 500px){
    height: 100vh; /* 100% of the viewport height */
  }

  /* Phone styles */
  @media (max-width: 499px) {
    /* Height follows content, adjust as needed */
    height: auto;
  }
}

.home::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 0;
}

.home p,
.home h2,
.home a {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}



.home p {
  text-transform: none;
  font-size: 1.05rem;
  
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home .home_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  max-width: 1200px;
  margin-top: 50px;
}


.sub_title {
  position: relative;
}

.sub_title::before,
.sub_title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1.5px;
  background-color: var(--white);
  margin: 0 -10px;
}

.sub_title::before {
  left: 0;
  display: block;
  transform: translateX(-100%);
}

.sub_title::after {
  right: 0;
  transform: translateX(100%);
}

.home_content h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.home_content p {
  margin: 10px 0;
}


@media all and (min-width:800px){
  .home_content h2 {
    margin: 10px 100px;
  }

  .home_content p {
    margin: 0 200px;
  }
}
.home_content .contains_links a {
  border: 1px solid var(--primary-color);
  
}

.home_content .contains_links a:hover {
  background-color: var(--primary-color);
}

.home_content .contains_links a {
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 20px;
  text-transform: none;
  font-size: 1rem;
  display: inline-block;
  margin-top: 20px;
}


.home .ones,
.home .twos {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  gap: 50px;
}

.home_content .pages {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 70px;
}

.home_content a#active {
  background-color: var(--primary-color);
  
}

#special {
  color: var(--primary-color);
  display: inline-block;
  font-weight: 600;
}

.home_content #contains_links {
  gap: 15px;
  display: flex;
}


/* styling about sectionn */



.about {
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 50px;
}

.about .sub_title {
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  width: fit-content;
  align-self: center;
  color: #70707067;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.about .sub_title::before,
.about .sub_title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 70%;
  height: 1px;
  background-color: #70707067;
  margin: 0 -10px;
}

.about .sub_title::before {
  left: 0;
  transform: translateX(-100%);
}

.about.sub_title::after {
  right: 0;
  transform: translateX(100%);
}

.about .ti {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 5px;
  margin-bottom: 40px;
}

.about h1 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
}

.about .main_container {
  position: relative;
  place-items: center;
  margin: 0 auto;
  /* display: grid; */
  grid-template-columns: repeat(auto-fit, minmax(492.5px, 1fr));
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.about .image {
  height: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


.about .experience{
  position: absolute;
  bottom: 250px;
  right: 0;
  background-color: #212529;

  display: flex;
  gap: 10px;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  height: 100px;
  width: 250px;
  color: #f8f8f8;
  padding: 10px;
}
.about .experience .fa-solid{
  font-size: 2rem;
  color: var(--primary-color);
}


.about .image {
  z-index: -1;
  margin: 0 auto;
  border: 1px solid #ccc;
  /* border-radius: 8px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: url("../images/about_image.jpg") center/cover no-repeat;
}

.about .content {
  padding: 10px 20px;
  width: auto;
  margin: 0 auto;
}


@media all and (min-width:1024px){
  .about .main_container {
    flex-direction: row;
  }

  .about .image {
    width: 50%;
  }

  .about .content {
    width: 50%;
  }
}

.about .content p,
ul {
  color: #999;
}



.about .content #special_two {
  color: var(--primary-color);
}

.about .content h1 {
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
}

.our_profile{
  display: block;
  
  background-color: #212529;
  padding: 5px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top:5px;
}
.our_profile:hover{
  text-decoration: none;
  color: #fff;
  background-color: #ccc;
  background-color: var(--primary-color);
}


/* what we can offer you
 */


.content .offers{
font-size: 1.2rem;
  margin-top: 15px;
}

.content .what_we_can_offer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

body{
  background-color: #f8f8f8;
}

.content .what_we_can_offer .service{
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); */
  width: 250px;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  background-color: #fff;
  margin-top: 5px;
}

@media screen and (min-width:650px){
  .content .what_we_can_offer .service{
    width:49%;
  }
}




.what_we_can_offer .service .fa-solid{
  font-size: 3.5rem;
  color: var(--primary-color);
}

.what_we_can_offer .service h2{
  font-size: 1rem;
  
}


.about .content .what_we_can_offer .service .text{
  width: 100%;
}


/* an aside banner */


aside {
  background: url("../images/appointment_photo.jpg") center/cover no-repeat;
  width: 100%;
  margin: 70px 0;
  padding: 50px 0;
  position: relative;
  z-index: 1;
}

aside::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 45%;
  background-color: red;
  clip-path: polygon(0 100%, 100% 100%, 80% 0, 0 0);
}

aside::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:rgba(0,0,0,.3);
}



aside .aside_container{
  z-index: 2;
  position: relative;
  display: flex;
  color: #f8f8f8;
  color: #ccc;
  gap: 10px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}



aside .aside_container p{
  text-transform: uppercase;
  font-weight: 700;
}

aside .aside_container .were{
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 10px;
}

aside .aside_container a{
  color: #ccc;
  text-decoration: none;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  width: fit-content;
  padding: 10px;
}


aside .aside_container .left{
  width: 50%;
}

aside .aside_container .right{
  width: 50%;
  align-self: center;
  text-align: center;
  display: flex;
  justify-content: center;
  
}


@media screen and (max-width:400px){
  aside .aside_container{
    flex-direction: column;
  }
  aside .aside_container .left{
    width: 100%;
  }
  
  aside .aside_container .right{
    width: 100%;
  }
}

/* services section */



.services {
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 50px;

}

.services .sub_title {
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  width: fit-content;
  align-self: center;
  color: #70707067;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.services .sub_title::before,
.services .sub_title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 70%;
  height: 1px;
  background-color: #70707067;
  margin: 0 -10px;
}

.services .sub_title::before {
  left: 0;
  transform: translateX(-100%);
}

.services.sub_title::after {
  right: 0;
  transform: translateX(100%);
}

.services .ti {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 5px;
  margin-bottom: 40px;
}

.services h1 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
}

.services .main_container {
  position: relative;
  place-items: center;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(492.5px, 1fr));
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.services .image {
  height: 550px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}



@media screen and (max-width:767px){
  .services .image {
    display: none;
  }
}

@media screen and (min-width:492px){
  .services .image {
    height: 350px;
  }
}



.services .image {
  z-index: -1;
  margin: 0 auto;
  border: 1px solid #ccc;
  background: url("../images/service_image.jpg") center/cover no-repeat;
}

.services .content {
  padding: 0 10px;
  /* border-radius: 8px; */
  width: auto;
  margin: 0 auto;
  
}


.services .image {
  height: 250px;
  background-position:center top;
}


@media all and (min-width:767px){
  .services .main_container {
      flex-direction: row;
    }
  
  .services .image {
      width:100%;
      height: 520px;
    }

  .services .content {
      width: 100%;
    }
  }
  

@media all and (max-width:1023px){
  .services .main_container {
      flex-direction: column;
    }
  
  .services .image {
      width:100%;
      height: 350px;
    }

  .services .content {
      width: 100%;
    }
  }
  

.about .content #special_two {
  color: var(--primary-color);
}

.about .content h1 {
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
}

/* what we can offer you
 */


.services .content .offers{
font-size: 1.2rem;

}

.services .content .what_we_can_offer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.services .content .what_we_can_offer .service{
  width: 250px;
  width: 100%;
  display: flex;
  gap: 20px;
  padding:10px 5px;
  margin-top: 10px;
  border-radius: 0px;
}

.services .content .what_we_can_offer .service{
  background-color: #212529;
  background-color: #fff;
  color: #f8f8f8;
  position: relative;
  z-index: 1;
}

.services .content .what_we_can_offer .service:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: rgba(0,0,0,.4); */
  z-index: 2;
}

.services .icon,
.services .text,
.services .mb-0{
  z-index: 3;
  color: #212529;
}



.services .what_we_can_offer .service .fa-solid{
  font-size: 60px;
  color: var(--primary-color);
}

@media screen and (max-width:350px){
  .services .what_we_can_offer .service .icon{
    display: none;
  }
}

.services .what_we_can_offer .service h2{
  font-size: 1.6rem;
}



.services .what_we_can_offer .service p{
  margin: 5px 0;
  font-size: 1rem;
}

.services .what_we_can_offer .service a{
  color: #ccc;
  text-decoration: none;
  display: block;
  cursor: pointer;
  background-color: #212529bb;
  width: fit-content;
  padding: 5px;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 700;
  margin-top: 5px;
}

.services .what_we_can_offer .service a:hover{
  background-color: var(--primary-color);
  color: #ccc;
}
.services .what_we_can_offer .icon{
  width: 50%;
  margin: 10px auto;
  text-align: center;
}
.services .text{
  margin-right: 30px;
}

/* who are in the company */

.all_wrapper{
  background: url("../images/appointment_photo.jpg") center/cover no-repeat;
  width: 100%;
  margin: 70px 0;
  padding: 50px 0;
  position: relative;
  z-index: 1;
}

.all_wrapper::after{
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.3);
}

.who_are_in_rg {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}


.who_are_in_org {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  max-width: 1160px;
  margin: 0 auto;
  
}

.who_are_in_org .one {
  flex: 0 0 20% ; 
  box-sizing: border-box;
  padding: 10px;
  margin:10px 20px; 
  display: flex;
  flex-direction: row; 
  align-items: center;
  z-index: 2;
  gap: 10px;
  align-items: center;
}

.one .icon {
  margin-bottom: 10px; 
  text-align: center;
  display: flex;
  align-items: center;
}

.who_are_in_org.one .text {
  text-align: center;
}

/* Additional styling for the icon */
.services .one .icon i {
  display: block;
}



.who_are_in_org .text{
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}


.who_are_in_org div.churches {
  border-right-width: 0.5px;
}



.who_are_in_org div .fa-solid,
.material-symbols-outlined {
  font-size: 76px;
  text-align: center;
  display: block;
  width: auto;
  color: var(--primary-color);
  color: rgb(226, 18, 18);
}

.who_are_in_org p.name {
  color: #fff;
  font-size: 18px;
}

.who_are_in_org p.numbers{
  font-size: 40px;
  color: var(--primary-color);
  color: rgb(226, 18, 18);
  font-weight: 700;
}

/* Engineers */




/* pastors */

.engineers {
  margin: 0 auto;
  margin-top: 70px;
}

.engineers .sub_title {
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  width: fit-content;
  align-self: center;
  color: #70707067;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
  
}
.all_engineers .engineer{
  margin: 20px 0;
}

.engineers .sub_title::before,
.engineers .sub_title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 70%;
  height: 1px;
  background-color: #70707067;
  margin: 0 -10px;
}

.engineers .sub_title::before {
  left: 0;
  transform: translateX(-100%);
}

.engineers .sub_title::after {
  right: 0;
  transform: translateX(100%);
}

.engineers .ti {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 40px 5px;
  max-width: 1100px;
  margin: 0 auto;
}

.engineers .ti h1{
  font-size: 1.5rem;
}
.engineers h3 {
  font-size: 1.6rem;
  width: 100%;
  font-size: 1.25rem;
  font-weight: normal;
}

.engineers .all_engineers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 0 205px;
  width: auto;
  gap: 10px;
}

@media screen and (max-width:900px){
  .engineers .all_engineers {
    padding: 0 60px;
  }
}

@media screen and (max-width:400px){
  .engineers .all_engineers {
    padding: 0 5px;
  }
}

.engineers .all_engineers h3 {
  margin-top: 10px;
}

.all_engineers .engineer {
  border: 1px solid transparent;
  transition: border 0.3s ease;
  padding: 0;
}

.all_engineers .engineer:hover {
  border: 1px solid var(--primary-color);
}




.all_engineers .engineer .contents {
  background-color: transparent;
  transition: background-color 0.3s ease; 
  background-color: #fff;
  
}

.all_engineers .engineer:hover {
  background-color: var(--primary-color);
}


.all_engineers .engineer p {
  color: #000;
  transition: color 0.3s ease; 
}

.all_engineers .engineer:hover p {
  color: #ccc;
}

.all_engineers .engineer .fa-brands {
  font-size: 1.5rem;
  transition: font-size 0.3s ease;
}

.all_engineers .engineer:hover .fa-brands {
  font-size: 1.7rem;
}

.all_engineers .engineer:hover a{
  color: #ffd615;
}

.all_engineers .engineer a:hover{
  color: #033a80;
}


.all_pastors .engineers .contents {
  display: flex;
  flex-direction: column;
}


.all_engineers .engineer .one {
  height: 350px;
  background: url("../images/engineer_three.jpg") center/cover no-repeat;
  background-position: center top;
}

.all_engineers .engineer .two {
  height: 350px;
  background: url("../images/egineer_two.png") center/cover no-repeat;
  background-position: center top;
}

.all_engineers .engineer .four {
  height: 350px;
  
  background: url("../images/micheal_sinkamba.png") center/cover no-repeat;
  background-position: center top;
}


.all_engineers .engineer .three {
  height: 350px;
  background: url("../images/engineer_three.jpg") center/cover no-repeat;
  background-position: center top;
}


.all_engineers .contents {
  width: 100%;
  text-align: center;
}

.all_engineers .fa-brands {
  display: block;
  font-size: 2rem;
}

.engineers .para {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.engineers .para a {
  display: block;
  margin: 5px 10px;
  text-decoration: none;
  
  color: var(--primary-color);
}

.engineers .cause_title{
  font-weight: 700;
}


/* section for projects */

/* gallery */

.gallery {
  margin: 0 13px;
  margin-top: 70px;
  margin: 70px auto;
  padding: 0 15px;
}

.gallery .sub_title {
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  width: fit-content;
  align-self: center;
  color: #70707067;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.gallery .sub_title::before,
.gallery .sub_title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 70%;
  height: 1px;
  background-color: #70707067;
  margin: 0 -10px;
}

.gallery .sub_title::before {
  left: 0;
  transform: translateX(-100%);
}

.gallery .sub_title::after {
  right: 0;
  transform: translateX(100%);
}

.gallery .ti {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 5px;
}

.gallery .ti h1{
  font-size: 1.5rem;
  margin-bottom: 50px;
}

/* gallery styles*/

.gallery .all_photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
}

.gallery .gallery_video {
  position: relative;
  height: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery .one {
  position: relative;
  background: url("../images/Stainless_steel_pipelines.jpg") center/cover no-repeat;
  z-index: 2;
}

.gallery .two {
  position: relative;
  background: url("../images/Stainless_steel_dairy_equipment.jpg") center/cover no-repeat;
  z-index: 2;
}

.gallery .three {
  position: relative;
  background: url("../images/Sustainable_beverage_production.jpg") center/cover no-repeat;
  z-index: 2;
}

.gallery .four {
  position: relative;
  background: url("../images/Stainless_steel_food_processing.jpg") center/cover no-repeat;
  z-index: 2;
}

.gallery .five {
  position: relative;
  background: url("../images/Stainless\ _steel_pharmaceutical_equipment.jpg") center/cover no-repeat;
  z-index: 2;
}

.gallery .six {
  position: relative;
  background: url("../images/Industrial_commissioning.jpg") center/cover no-repeat;
  z-index: 2;
}

.gallery .div:hover .fa-solid {
  display: block;
}

.gallery .fa-solid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #ffd615;
  display: none;
}

.gallery .one a {
  text-decoration: none;
}


/* custome styles */


.all_photos .gallery_video {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer; 
}

.all_photos .gallery_video:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.all_photos .gallery_video:hover:before {
  opacity: 1; /* Show the overlay on hover */
}

.all_photos .gallery_text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 16px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}


.all_photos .gallery_text {
  font-size: 1.7rem;
  text-align: left;
  letter-spacing: .05rem;
  text-transform: uppercase;
}

.all_photos .gallery_text h4{
  font-size: 1rem;
}

.all_photos .gallery_video:hover .gallery_text {
  opacity: 1; /* Show the text on hover */
}



/* fulll screen effect */


.all_photos .gallery_video:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Black overlay with 0.7 opacity */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.all_photos .gallery_video:hover:before {
  opacity: 1; /* Show the overlay on hover */
}



.all_photos .gallery_video:hover .gallery_text {
  opacity: 1; /* Show the text on hover */
}

@media screen and (max-width:900px){
  .all_photos .gallery_text {
    opacity: 1;
  }

  .all_photos .gallery_video:hover .gallery_text {
    opacity: 0;
  }


  .all_photos .gallery_video:before {
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: background 0.5s ease;
  }
  
  .all_photos .gallery_video:hover:before {
    background: rgba(0, 0, 0, 0);
  }
  
}




.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fullscreen img {
  max-width: 100%;
  max-height: 100%;
}


/* blogs */


/* styling the blog */

.blogs {
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 15px; 
}

.blogs .sub_title {
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  width: fit-content;
  align-self: center;
  color: #70707067;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.blogs .sub_title::before,
.blogs .sub_title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 70%;
  height: 1px;
  background-color: #70707067;
  margin: 0 -10px;
}

.blogs .sub_title::before {
  left: 0;
  transform: translateX(-100%);
}

.blogs .sub_title::after {
  right: 0;
  transform: translateX(100%);
}

.blogs .ti {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 5px;
}

.blogs .ti h1{
  font-size: 1.5rem;
  margin-bottom: 20px;
}


.blogs h3 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  width: 100%;
  font-size: 1.25rem;
  font-weight: normal;
}

.blogs .all_blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 5px;
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 30px;
  align-items: start;
}

.all_blogs .blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  margin: 10px 10px;
  padding: 20px 5px;
  background-color: #fff;
  z-index: 1;
}








.blogs .all_blogs h3 {
  margin-top: 20px;
  color: #000;
  font-size: 1.5rem;
}
.blogs .all_blogs p {
  margin: 20px 0;
  font-size: 1rem;
  color: #707070d3;
}

.blogs .all_blogs a {
  padding: 7px 10px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
}


.all_blogs .blog .one {
  height: 350px;
  background: url("../images/Industrial_commissioning.jpg") center/cover no-repeat;
}

.all_blogs .blog .two {
  height: 350px;
  background: url("../images/Stainless_steel_dairy_equipment.jpg") center/cover no-repeat;
}

.all_blogs .blog .three {
  height: 350px;
  background: url("../images/Stainless_steel_food_processing.jpg") center/cover no-repeat;
}

.all_blogs .blog .before {
  position: relative;
}

.all_blogs .blog .top_words {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 5px;
  color: #fff;
  z-index: 2;
  position: relative;
}

.all_blogs .blog .top_words #one {
  font-size: 3.5rem;
}

.all_blogs .blog .top_words #two {
  font-size: 1.1rem;
}

.all_blogs .blog .before::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ccc;
  z-index: 1;
}



.testimonial-section{
  margin-bottom: 150px;
}


/* contact section starts jere */

.contact {
  margin-top: 70px;
  margin:  50px auto;
  padding: 0 5px;
}

.contact .sub_title {
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  width: fit-content;
  align-self: center;
  color: #70707067;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.contact .sub_title::before,
.contact .sub_title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 70%;
  height: 1px;
  background-color: #70707067;
  margin: 0 -10px;
}

.contact .sub_title::before {
  left: 0;
  transform: translateX(-100%);
}

.contact .sub_title::after {
  right: 0;
  transform: translateX(100%);
}

.contact .ti {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 5px;
}

.contact .ti h1{
  font-size: 1.5rem;
}

.contact_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(80px, auto);
  grid-template-areas: "numbers messages";
  padding: 0 20px;
  gap: 20px;
  margin-top: 30px;
}

@media screen and (max-width: 815px) {
  .contact_wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "numbers"
      " messages";
  }
}

.contact_wrapper .number {
  grid-area: numbers;
}

.contact_wrapper .number {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_wrapper .number div {
  background: rgba(204, 204, 204, 0.2);
  padding: 10px;
}

.contact_wrapper .number div .name {
  font-size: 1.1rem;
  color: #000;
  font-weight: 300;
}

.contact_wrapper .fa-solid,
.contact_wrapper .fa-regular {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.contact_wrapper .number div .value {
  margin: 10px 0;
  margin-left: 20px;
  font-size: 1rem;
}

/* lets  do messages */

.contact_wrapper .messages {
  grid-area: messages;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background: rgba(204, 204, 204, 0.2);
 
}

.messages .name,
.messages .email {
  height: 50px;
  border-width: 0;
  margin-bottom: 20px;
  padding: 5px 20px;
  font-size: var(--p-font);
  z-index: 1;
  width: 100%;
}

.messages .message {
  margin-bottom: 20px;
  font-size: var(--p-font);
  padding: 5px 20px;
  border-width: 0;
  width: 100%;
}

.messages button {
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: 550;
  background-color: var(--primary-color);
  background-color: rgb(226, 18, 18);;
  padding: 10px 15px;
  height: 40px;
  align-self: center;
  border-width: 0;
  /* border-radius: 12px; */
}

.messages .form button:hover {
  box-shadow: none;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--primary-color);
}

.tittle h1 p {
  font-family: "Prompt", sans-serif;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1rem;
}

form input,
textarea {
  color: #000;
}

textarea{
  height: 180px;
}

/* footer */

footer {
  background-color: #212529;
  padding:5px 15px ;
}



footer .footer_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "first second third fourth";
  padding: 50px 0;
  color: #fff;
  place-items: center;
  align-items: first baseline;
  
}

.footer_wrapper .ones{
  padding: 0;
}

@media all and (max-width: 840px) {
  footer .footer_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "first"
      "second"
      "third"
      "fourth";
    place-items: initial;
    
  }

  footer .footer_wrapper div {
    margin-bottom: 20px;
    padding-left: 10px;
  }
}

footer .footer_wrapper li {
  margin: 10px 0;
  list-style-type: ">"; /* Add the arrow bullet style */
  padding: 10px;
  color: #fff;
}

footer .footer_wrapper ul li a {
  color: #fff;
}

footer .footer_wrapper ul li a:hover{
  color: var(--primary-color);
}

footer .footer_wrapper div .service {
  font-size: 1.2rem;
}

footer .footer_wrapper div .time {
  display: block;
  color: var(--primary-color);
  margin: 20px 0;
}
footer .footer_wrapper p {
  margin-top: 20px;
}
.footer_wrapper .first {
  grid-area: first;
}

.footer_wrapper .second {
  grid-area: second;
}

.footer_wrapper .third {
  grid-area: third;
}

.footer_wrapper .fourth {
  grid-area: fourth;
}




/* to top */

footer .logo i {
  color: #323946;
  font-size: 1.5rem;
  padding: 10px;
}

footer .logo {
  font-size: 1.5rem;
  float: right;
}



.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  /* border-radius: 12px; */
  background-color: rgb(226, 18, 18);;
  border: 1px solid var(--main-color);
  transition: 0.5s ease;

}


.logo .fa-solid{
  display: block;
  font-size: 1rem;
  text-align: center;
}

footer .logo a:hover {
  box-shadow: none;
}